@tailwind base;
@tailwind components;
@tailwind utilities;

[data-sonner-toast] {

    font-size: 14px !important;

    border-radius: 12px !important;

    padding-right: 40px !important;
}

/*
|--------------------------------------------------------------------------
| SONNER FIX POSITION
|--------------------------------------------------------------------------
*/

[data-sonner-toaster] {

    top: 20px !important;

    bottom: unset !important;

    left: 50% !important;

    transform: translateX(-50%) !important;

    right: unset !important;

    z-index: 999999 !important;
}

/*
|--------------------------------------------------------------------------
| SONNER CLOSE BUTTON
|--------------------------------------------------------------------------
*/

[data-close-button] {

    right: 10px !important;

    left: unset !important;

    top: 50% !important;

    transform: translateY(-50%) !important;
}


@media print {
    body * {
        visibility: hidden;
    }

    .print\\:block,
    .print\\:block * {
        visibility: visible;
    }

    .print\\:hidden {
        display: none !important;
    }

    /* KHỔ GIẤY */
    @page {
        size: 80mm auto; /*Nếu khổ 58mm thì để 58mm */
        margin: 0;
    }


    body {
        margin: 0;
    }
}

/* Ẩn mũi tên input number */
/* Sử dụng selector đặc thù để đảm bảo độ ưu tiên cao */
input.no-spinner::-webkit-inner-spin-button,
input.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input.no-spinner {
    -moz-appearance: textfield !important;
}